.drink__all {
  margin: 10px;
  width: 150px;
}

.drink__categories, .drink__board {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
}

.drink__category {
  margin: 5px;
  padding: 10px;
}
