@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! custom tailwind classes */
@layer components {
  .radio-style {
    @apply appearance-none rounded-full h-4
    w-4 border border-gray-300 bg-white checked:bg-blue-600
    checked:border-blue-600 focus:outline-none transition duration-200 mt-1
    align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer pb-1;
  }
  .section-style {
    @apply p-4 text-xs text-gray-500  bg-slate-300;
  }
  .input-style {
    @apply block w-full px-3 py-1.5 text-base font-normal
    text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
    rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
    focus:border-blue-600 focus:outline-none;
  }
  .label-style {
    @apply inline-block text-gray-800 cursor-pointer pr-2;
  }
  .button-style {
    @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs
    leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg
    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
  }
  .tag-style {
    @apply inline-block px-4 py-2 bg-blue-400 text-white md:font-medium
    text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-500
    hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none
    focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150
    ease-in-out m-1;
  }
  .details {
    @apply flex flex-col
  }
  .details__image {
    @apply m-auto max-w-sm w-screen;
  }
  .details__header, .details__body {
    @apply p-4
  }
  .details__list {
    @apply mb-6
  }
  .details__body {
    @apply mb-3
  }
  .details__title {
    @apply flex justify-between
  }
  .details__name {
    @apply text-3xl
  }
  .details__h1 {
    @apply mb-4 text-xl
  }
  .details__button {
    @apply inline-block px-6 py-5 bg-blue-600 text-white font-medium text-xl
    leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg
    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out
    text-center fixed bottom-0 w-screen
  }
  .foods__video-div {
    @apply flex justify-center mb-3
  }
  .foods__video {
    @apply min-w-fit
  }
  .arrow__left {
    @apply carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0
  }
  .arrow__right {
    @apply carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0
  }
  .arrow__prev {
    @apply carousel-control-prev-icon inline-block bg-no-repeat
  }
  .arrow__next {
    @apply carousel-control-next-icon inline-block bg-no-repeat
  }
  .recommended {
    @apply m-5 mb-8 max-w-full overflow-hidden
  }
  .recommended__frame {
    @apply flex m-5 overflow-x-scroll
  }
  .recommended__card {
    @apply min-w-[45vw] p-5
  }
  .recommended__title {
    @apply text-2xl
  }
  .favShareBtn {
    @apply flex flex-row
  }
  .favBtn, .shareBtn {
    @apply pr-3
  }
  .siteUrl {
    @apply hidden
  }
  .favShareBtn {
    @apply relative
  }
  .shareBtnMsg {
    @apply hidden absolute z-10 right-[1px] top-[-40px] w-24
  }
  .progress__line {
    @apply line-through decoration-black decoration-solid
  }
  .progress__noline {
    @apply no-underline decoration-black decoration-solid
  }
}

/* ! classes non tailwind */
.food__all {
  margin: 10px;
  width: 150px;
}

.food__categories,
.food__board {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
}

.food__category {
  margin: 5px;
  padding: 10px;
}

.drink__all {
  margin: 10px;
  width: 150px;
}

.drink__categories,
.drink__board {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
}

.drink__category {
  margin: 5px;
  padding: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
